/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #121212 !default;
$text-color: #fafafa !default;
$primary-color: #ff4301ff !default;
$border-color: #363636 !default;
$code-background-color: #212121 !default;
$code-background-color-dark: #363636 !default;
$form-background-color: #212121 !default;
$footer-background-color: #363636 !default;
$link-color: #fa7d09ff !default;
$link-color-hover: #ff4301ff !default;
$link-color-visited: #ff8c3bff !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;



.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
